:root {
  --order-button-color: #4d5ae5;
  --pressed-state: #404bbf;
  --header-team-card-background: #ffffff;
  --headline-color: #2e2f42;
  --par-color: #434455;
  --accent-color: #e7e9fc;
  --light-mode-dialogs: #f4f4fd;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-raleway-ex-bold: 800;
  --font-weight-extra-bold: 900;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--par-color);
  background-color: var(--header-team-card-background);
}

/* Container */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.buttons-cursor {
  cursor: pointer;
}

/* header */

.header-border-color {
  border-bottom: 1px solid var(--accent-color);
}

.header-web-style {
  color: var(--order-button-color);
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-raleway-ex-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-studio-style {
  color: var(--headline-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Header logo */
.link {
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* header-nav */

.header-list {
  display: flex;
}

.header-list .item + .item {
  /* outline: 1px solid teal; */
  margin-left: 40px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-list .navi.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headline-color);
}

.header-list .navi.link:active,
.header-list .navi.link:focus,
.header-list .navi.link:hover {
  color: var(--pressed-state);
}
/* header address */

/* Contacts */

.adrs-ul {
  display: flex;
}

.adrs-ul .item + .item {
  margin-left: 40px;
}

.addresses.link {
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--par-color);
}
.addresses.link:hover,
.addresses.link:active,
.addresses.link:focus {
  color: var(--pressed-state);
}

/* 1st section */
.hero-section {
  background: var(--headline-color);
  text-align: center;
}

.header-hero {
  width: 496px;
  margin-bottom: 48px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  font-weight: var(--font-weight-bold);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--header-team-card-background);
}

.order-button-st {
  display: flex;
  padding: 16px 32px;

  font-family: "Roboto", sans-serif;
  background: var(--order-button-color);
  border-radius: 4px;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
  /* text */
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--header-team-card-background);
  text-align: center;
}

.order-button-st:hover,
.order-button-st:focus {
  background: var(--pressed-state);
}

/* section 2 */

.pdng-sections.second {
  padding-top: 120px;
  padding-bottom: 120px;
}

.headlines-scnd-section {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headline-color);
}

.scnd-sec-par {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--par-color);
}

/* third section */

.pdng-sections.thrd {
  padding-bottom: 120px;
}

.headlines-scnd-rang {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headline-color);
}

/* section 4*/

.team-section {
  background: var(--light-mode-dialogs);
}

.our-team {
  background-color: var(--header-team-card-background);
}

.our-team-headline {
  padding-top: 120px;
  margin-bottom: 72px;
}

.thrd-rang-headlines {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headline-color);
}

.list > .our-team > .scnd-sec-par {
  padding-bottom: 32px;
}

/* Footer */
.footer-color {
  background: var(--headline-color);
}
.footer-logo-web {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: var(--order-button-color);
  font-weight: var(--font-weight-raleway-ex-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 100px;
}

.footer-studio-style {
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-raleway-ex-bold);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--light-mode-dialogs);
}

.footer-par {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-mode-dialogs);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 100px;
}
/* portfolio buttons*/
.buttons {
  /* btns */
  font-family: "Roboto", sans-serif;
  background: var(--light-mode-dialogs);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  display: flex;
  padding: 12px 24px;
  /* text */
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--order-button-color);
}
.buttons:hover,
.buttons:active,
.buttons:focus {
  background-color: var(--pressed-state);
  color: var(--header-team-card-background);
}

/* Portfolio Headlines 2 */

.port-scnd-headlines {
  margin-top: 32px;
  margin-bottom: 8px;
  padding-left: 8px;
  font-weight: var(--font-weight-medium);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headline-color);
}

.portfolio-par {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 32px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--par-color);
}
